.navbar {
    background: grey;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    float: right;
    text-align: left;
}

.navbar-nav li {
    text-align: left;
}

#nav-bar ul li a {
    color: white;
}

#nav-bar ul li a:hover {
    color: chocolate;
}

.navbar-toggler {
    border: none;
}


/* End of Nav */


/* Slider */

#slider img {
    width: 300px;
    height: 500px;
}


/* End of Slider */


/* About  */

#about {
    padding: 4rem 0;
}

#about .btn {
    background: transparent;
    border: none;
    outline: none;
    color: chocolate;
    border: 1px solid chocolate;
}

#about .progress {
    margin-bottom: 1.2rem;
    border-radius: 10rem;
    height: 1.5rem;
}

#about .progress-bar {
    background-color: chocolate;
    border-radius: 10rem;
    font-size: 0.7rem;
    color: aquamarine;
}

#about .skill-title {
    color: rgb(121, 156, 156);
    font-size: large;
}

#about .skill-heading {
    font-size: 2rem;
    color: cadetblue;
    padding-top: 1.5rem;
}


/* End of About */


/* Services */

.services {
    /* background: linear-gradient(#e66465, #9198e5); */
}


/* End of Services */